@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

/* reseteo titulos, parrafos input etc */
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}
/* le saco los circulos que traen */
ul{
    list-style-type: none;
}

/* saco subrayado de los links */
a{
text-decoration: none;
}